html {
  font-family: "Work Sans", sans-serif;
}

h1 {
  color: #535353;
}

a {
  color: #535353;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
  background-color: #8ccecc;
}

nav a:active {
  color: #fff;
  background-color: #f9bab8;
}
